* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
}

.logoSection {
    /* flex-shrink: 0; */
    position: relative;
    width: 55%;
    height: 952px;
    background: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logoHeader {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25%;
}

.logoHeaderText {
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.logoHeaderText::before {
    content: "🐑";
    font-size: 106px;
    font-weight: 100;
    margin-right: 8px;
}

.photoCredit {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.photoCredit a {
    color: white;
}

.formSection {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F9F9;
}

.formSectionText {
    width: 90%;
    margin-left: 48px;
    font-size: 22px;
    font-weight: 500;
}

.formSectionTextBottom {
    margin-top: 24px;
}

.formSectionForm {
    margin-top: 60px;
    background-color: #fff;
    padding: 24px 0;
    box-shadow: 0px 2px 6px 1px rgba(207, 207, 207, 0.58);
}

.formSectionForm form {
    display: flex;
    flex-wrap: wrap;
}

.formHeader {
    margin-left: 48px;
    font-size: 22px;
    font-weight: 500;
}

label {
    font-size: 12px;
    font-weight: 500;
    color: #444;
    margin: 12px 12px 12px 48px;
}

input {
    display: block;
    height: 22px;
    width: 240px;
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 3px 10px;
    font-size: 16px;
    margin-top: 4px;
}

.help {
    display: none;
}

.invalid .help {
    display: block;
}

.invalid label, 
.invalid input, 
.invalid .help {
    color: red;
    border-color: red;
}

input:focus {
    border-color: rgb(0, 121, 168);
    box-shadow: 1px 2px 3px 1px rgba(197, 197, 197, 0.68);
}

.btn {
    margin: 36px;
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: #825e84;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 3px 1px rgba(197, 197, 197, 0.68);
    cursor: pointer;
}

.btn:hover {
    background-color: #9c719e;
}

.btn:active {
    background-color: #825e84;
}

.loginPara {
    margin-left: 36px;
}

.loginPara a {
    color: #825e84;
    text-decoration: none;
    font-weight: 600;
}

.loginPara a:hover {
    color: #9c719e;
}

.loginPara a:active {
    color: #825e84;
}
